@{
    ViewData["Title"] = "Home Page";
}
@model List<BridgeInfo>

<div class="text-center">
    <h1 class="display-4">Prochaine fermeture</h1>
</div>
<table class="table">
    <thead>
    <tr>
        <th scope="col"></th>
        <th scope="col">Bateau</th>
        <th scope="col">Type de fermeture</th>
        <th scope="col">Date de fermeture</th>
        <th scope="col">Date de réouverture</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var info in Model)
    {
        <tr>
            <td></td>
            <td>@info.BoatName</td>
            <td>@info.ClosingType</td>
            <td>@info.ClosingDate</td>
            <td>@info.ReopeningDate</td>
        </tr>
    }
    </tbody>
</table>